{% extends 'flatpages/default.html' %}
<!-- custom_filters - имя файла с фильтрами в папке templatetags-->
{% block title %}
Categories
{% endblock title %}

{% block content %}
<h1 class="text-center"> News ({{posts|length}})</h1>
    {% if is_not_subscriber %}
        <p class="=text-center"> <a href="{% url 'subscribe' category_id %}" class="btn btn-secondary btn-sm"> Подписаться </a></p>  
    {% endif %}
<ul>
    {% for post in category_news_list %}
    <li>
        <a href="{% url 'post_detail' post_id %}"> {{ post.title}}</a>
    </li>
    {% endfor %}

</ul>