{% extends 'flatpages/default.html' %}
<!-- custom_filters - имя файла с фильтрами в папке templatetags-->
{% block title %}
Categories
{% endblock title %}

{% block content %}
<h1 class="text-center"> Категория ({{ category.name }})</h1>
    {% if is_not_subscriber %}
        <p class="=text-center"> <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm"> Подписаться </a></p>  
    {% endif %}
<ul>
    {% for post in category_news_list %}
    <li>
        <a href="http://127.0.0.1:8000{% url 'post_detail' post.id %}"> {{ post.header}}</a>
    </li>
    {% endfor %}

</ul>
{% endblock content%}